<header class="navbar navbar-expand navbar-dark bg-dark fixed-top shadow-sm">
  <div class="container">
    
    <%= link_to root_path, class: 'navbar-brand fw-bold fs-4' do %>
      奴ランキング見る奴
    <% end %>

    <div class="d-flex align-items-center ms-auto">

      <%= link_to guide_path, class: 'btn btn-outline-light me-2' do %>
        🔰 初めての方へ
      <% end %>
      
      <%= link_to root_path, class: 'btn btn-outline-light me-2' do %>
        📺 動画視聴ランキング
      <% end %>

      <% if user_signed_in? %>
        <%= link_to mypage_path, class: 'btn btn-primary' do %>
          マイページ
        <% end %>
        
        <%= button_to destroy_user_session_path, method: :delete, class: 'btn btn-danger ms-2' do %>
          ログアウト
        <% end %>

      <% else %>
        <%= link_to user_google_oauth2_omniauth_authorize_path, data: { turbo: false }, class: 'btn btn-primary' do %>
          Googleログイン
        <% end %>

        <%= form_with url: users_guest_sign_in_path, method: :post, local: true, class: "d-inline" do |f| %>
          <%= f.submit "ゲストログイン", class: "btn btn-outline-light" %>
        <% end %>
      <% end %>

    </div>
  </div>
</header>